
*.iml
coinMerge/settings_with_keys.py
.DS_Store
.idea/deployment.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/remote-mappings.xml
.idea/vcs.xml
coinMerge/__pycache__/*
app/__pycache__/*
*/*/__pycache__/*
app/migrations/*
coinMerge/settings_dev.py
.DS_Store
coinMerge/settings_git_version.py
*DS_Store
