<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<style>
table{
    width: 100%;
}

table th{
    text-align: left;
}

</style>
<body>
<table>
<tr>
  <th colspan="1">Username</th>
  <th colspan="1">Name</th>
  <th colspan="1">Surname</th>
  <th colspan="1">Score</th>
  <th colspan="1">Sessions Count</th>
  <th colspan="1">Last Session Duration (min)</th>
</tr>
{% for x in data %}
<tr>
  <td>{{ x.user.username }}</td>
  <td>{{ x.user.first_name }}</td>
  <td>{{ x.user.last_name }}</td>
  <td>{{ x.user.score }}</td>
  <td>{{ x.no_sessions }}</td>
  <td>{{ x.session }}</td>
{% endfor %}
</table>
</body>
</html>